유닛 15. Pandas(P251~)

In [1]:
import pandas as pd

In [11]:
df = pd.read_html('https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table')
df[1]

                               Unnamed: 0_level_0 Summer Games  \
                                  Team (IOC code)            №
0                               Afghanistan (AFG)           14
1                                   Algeria (ALG)           13
2                                 Argentina (ARG)           24
3                                   Armenia (ARM)            6
4                         Australasia (ANZ) [ANZ]            2
5                       Australia (AUS) [AUS] [Z]           26
6                                   Austria (AUT)           27
7                                Azerbaijan (AZE)            6
8                                   Bahamas (BAH)           16
9                                   Bahrain (BRN)            9
10                           Barbados (BAR) [BAR]           12
11                                  Belarus (BLR)            6
12                                  Belgium (BEL)           26
13                                  Bermuda (BER)           18
14                        Bohemia (BOH) [BOH] [Z]            3
15                                 Botswana (BOT)           10
16                                   Brazil (BRA)           22
17                British West Indies (BWI) [BWI]            1
18                             Bulgaria (BUL) [H]           20
19                                  Burundi (BDI)            6
20                                 Cameroon (CMR)           14
21                                   Canada (CAN)           26
22                                Chile (CHI) [I]           23
23                              China (CHN) [CHN]           10
24                                 Colombia (COL)           19
25                               Costa Rica (CRC)           15
26                        Ivory Coast (CIV) [CIV]           13
27                                  Croatia (CRO)            7
28                                 Cuba (CUB) [Z]           20
29                                   Cyprus (CYP)           10
..                                            ...          ...
123                              Sweden (SWE) [Z]           27
124                             Switzerland (SUI)           28
125                                   Syria (SYR)           13
126             Chinese Taipei (TPE) [TPE] [TPE2]           14
127                              Tajikistan (TJK)            6
128                          Tanzania (TAN) [TAN]           13
129                                Thailand (THA)           16
130                                    Togo (TOG)           10
131                                   Tonga (TGA)            9
132               Trinidad and Tobago (TTO) [TTO]           17
133                                 Tunisia (TUN)           14
134                                  Turkey (TUR)           22
135                                  Uganda (UGA)           15
136                                 Ukraine (UKR)            6
137                    United Arab Emirates (UAE)            9
138           United States (USA) [P] [Q] [R] [Z]           27
139                                 Uruguay (URU)           21
140                              Uzbekistan (UZB)            6
141                               Venezuela (VEN)           18
142                                 Vietnam (VIE)           15
143                          Virgin Islands (ISV)           12
144                        Yugoslavia (YUG) [YUG]           18
145                            Zambia (ZAM) [ZAM]           13
146                          Zimbabwe (ZIM) [ZIM]           13
147                      Unified Team (EUN) [EUN]            1
148      Independent Olympic Athletes (IOA) [IOA]            3
149  Independent Olympic Participants (IOP) [IOP]            1
150      Olympic Athletes from Russia (OAR) [OAR]            0
151                        Mixed team (ZZX) [ZZX]            3
152                                        Totals           28

                                                                     \
    Unnamed: 2_level_1 Unnamed: 3_level_1 Unnamed: 4_level_1  Total
0                    0                  0                  2      2
1                    5                  4                  8     17
2                   21                 25                 28     74
3                    2                  6                  6     14
4                    3                  4                  5     12
5                  147                163                187    497
6                   18                 33                 36     87
7                    7                 11                 24     42
8                    6                  2                  6     14
9                    2                  1                  0      3
10                   0                  0                  1      1
11                  12                 27                 39     78
12                  40                 53                 55    148
13                   0                  0                  1      1
14                   0                  1                  3      4
15                   0                  1                  0      1
16                  30                 36                 63    129
17                   0                  0                  2      2
18                  51                 87                 80    218
19                   1                  1                  0      2
20                   3                  1                  2      6
21                  64                102                136    302
22                   2                  7                  4     13
23                 224                167                155    546
24                   5                  9                 14     28
25                   1                  1                  2      4
26                   1                  1                  1      3
27                  11                 10                 12     33
28                  78                 68                 80    226
29                   0                  1                  0      1
..                 ...                ...                ...    ...
123                145                170                179    494
124                 50                 75                 67    192
125                  1                  1                  1      3
126                  5                  7                 12     24
127                  1                  1                  2      4
128                  0                  2                  0      2
129                  9                  8                 16     33
130                  0                  0                  1      1
131                  0                  1                  0      1
132                  3                  5                 11     19
133                  4                  2                  7     13
134                 39                 24                 28     91
135                  2                  3                  2      7
136                 35                 30                 56    121
137                  1                  0                  1      2
138               1022                795                705   2522
139                  2                  2                  6     10
140                  8                  6                 17     31
141                  2                  4                  9     15
142                  1                  3                  0      4
143                  0                  1                  0      1
144                 28                 31                 31     90
145                  0                  1                  1      2
146                  3                  4                  1      8
147                 45                 38                 29    112
148                  1                  0                  1      2
149                  0                  1                  2      3
150                  0                  0                  0      0
151                  8                  5                  4     17
152               5115               5081               5487  15683

    Winter Games                                                           \
               № Unnamed: 7_level_1 Unnamed: 8_level_1 Unnamed: 9_level_1
0              0                  0                  0                  0
1              3                  0                  0                  0
2             19                  0                  0                  0
3              7                  0                  0                  0
4              0                  0                  0                  0
5             19                  5                  5                  5
6             23                 64                 81                 87
7              6                  0                  0                  0
8              0                  0                  0                  0
9              0                  0                  0                  0
10             0                  0                  0                  0
11             7                  8                  5                  5
12            21                  1                  2                  3
13             8                  0                  0                  0
14             0                  0                  0                  0
15             0                  0                  0                  0
16             8                  0                  0                  0
17             0                  0                  0                  0
18            20                  1                  2                  3
19             0                  0                  0                  0
20             1                  0                  0                  0
21            23                 73                 64                 62
22            17                  0                  0                  0
23            11                 13                 28                 21
24             2                  0                  0                  0
25             6                  0                  0                  0
26             0                  0                  0                  0
27             8                  4                  6                  1
28             0                  0                  0                  0
29            11                  0                  0                  0
..           ...                ...                ...                ...
123           23                 57                 46                 55
124           23                 56                 45                 52
125            0                  0                  0                  0
126           12                  0                  0                  0
127            4                  0                  0                  0
128            0                  0                  0                  0
129            4                  0                  0                  0
130            2                  0                  0                  0
131            2                  0                  0                  0
132            3                  0                  0                  0
133            0                  0                  0                  0
134           17                  0                  0                  0
135            0                  0                  0                  0
136            7                  3                  1                  4
137            0                  0                  0                  0
138           23                105                112                 88
139            1                  0                  0                  0
140            7                  1                  0                  0
141            4                  0                  0                  0
142            0                  0                  0                  0
143            7                  0                  0                  0
144           16                  0                  3                  1
145            0                  0                  0                  0
146            1                  0                  0                  0
147            1                  9                  6                  8
148            0                  0                  0                  0
149            0                  0                  0                  0
150            1                  2                  6                  9
151            0                  0                  0                  0
152           23               1062               1058               1050

          Combined Total                                          \
    Total              № Unnamed: 12_level_1 Unnamed: 13_level_1
0       0             14                   0                   0
1       0             16                   5                   4
2       0             43                  21                  25
3       0             13                   2                   6
4       0              2                   3                   4
5      15             45                 152                 168
6     232             50                  82                 114
7       0             12                   7                  11
8       0             16                   6                   2
9       0              9                   2                   1
10      0             12                   0                   0
11     18             13                  20                  32
12      6             47                  41                  55
13      0             26                   0                   0
14      0              3                   0                   1
15      0             10                   0                   1
16      0             30                  30                  36
17      0              1                   0                   0
18      6             40                  52                  89
19      0              6                   1                   1
20      0             15                   3                   1
21    199             49                 137                 166
22      0             40                   2                   7
23     62             21                 237                 195
24      0             21                   5                   9
25      0             21                   1                   1
26      0             13                   1                   1
27     11             15                  15                  16
28      0             20                  78                  68
29      0             21                   0                   1
..    ...            ...                 ...                 ...
123   158             50                 202                 216
124   153             51                 106                 120
125     0             13                   1                   1
126     0             26                   5                   7
127     0             10                   1                   1
128     0             13                   0                   2
129     0             20                   9                   8
130     0             12                   0                   0
131     0             11                   0                   1
132     0             20                   3                   5
133     0             14                   4                   2
134     0             39                  39                  24
135     0             15                   2                   3
136     8             13                  38                  31
137     0              9                   1                   0
138   305             50                1127                 907
139     0             22                   2                   2
140     1             13                   9                   6
141     0             22                   2                   4
142     0             15                   1                   3
143     0             19                   0                   1
144     4             34                  28                  34
145     0             13                   0                   1
146     0             14                   3                   4
147    23              2                  54                  44
148     0              3                   1                   0
149     0              1                   0                   1
150    17              1                   2                   6
151     0              3                   8                   5
152  3170             51                6177                6139


    Unnamed: 14_level_1  Total
0                     2      2
1                     8     17
2                    28     74
3                     6     14
4                     5     12
5                   192    512
6                   123    319
7                    24     42
8                     6     14
9                     0      3
10                    1      1
11                   44     96
12                   58    154
13                    1      1
14                    3      4
15                    0      1
16                   63    129
17                    2      2
18                   83    224
19                    0      2
20                    2      6
21                  198    501
22                    4     13
23                  176    608
24                   14     28
25                    2      4
26                    1      3
27                   13     44
28                   80    226
29                    0      1
..                  ...    ...
123                 234    652
124                 119    345
125                   1      3
126                  12     24
127                   2      4
128                   0      2
129                  16     33
130                   1      1
131                   0      1
132                  11     19
133                   7     13
134                  28     91
135                   2      7
136                  60    129
137                   1      2
138                 793   2827
139                   6     10
140                  17     32
141                   9     15
142                   0      4
143                   0      1
144                  32     94
145                   1      2
146                   1      8
147                  37    135
148                   1      2
149                   2      3
150                   9     17
151                   4     17
152                6537  18853

[153 rows x 16 columns]

In [12]:
df = pd.read_html('https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table', header=0, index_col=0)
df[1]

,Summer Games,Summer Games.1,Summer Games.2,Summer Games.3,Summer Games.4,Winter Games,Winter Games.1,Winter Games.2,Winter Games.3,Winter Games.4,Combined Total,Combined Total.1,Combined Total.2,Combined Total.3,Combined Total.4
Team (IOC code),№,NaN,NaN,NaN,Total,№,NaN,NaN,NaN,Total,№,NaN,NaN,NaN,Total
Afghanistan (AFG),14,0.0,0.0,2.0,2,0,0.0,0.0,0.0,0,14,0.0,0.0,2.0,2
Algeria (ALG),13,5.0,4.0,8.0,17,3,0.0,0.0,0.0,0,16,5.0,4.0,8.0,17
Argentina (ARG),24,21.0,25.0,28.0,74,19,0.0,0.0,0.0,0,43,21.0,25.0,28.0,74
Armenia (ARM),6,2.0,6.0,6.0,14,7,0.0,0.0,0.0,0,13,2.0,6.0,6.0,14
Australasia (ANZ) [ANZ],2,3.0,4.0,5.0,12,0,0.0,0.0,0.0,0,2,3.0,4.0,5.0,12
Australia (AUS) [AUS] [Z],26,147.0,163.0,187.0,497,19,5.0,5.0,5.0,15,45,152.0,168.0,192.0,512
Austria (AUT),27,18.0,33.0,36.0,87,23,64.0,81.0,87.0,232,50,82.0,114.0,123.0,319
Azerbaijan (AZE),6,7.0,11.0,24.0,42,6,0.0,0.0,0.0,0,12,7.0,11.0,24.0,42
Bahamas (BAH),16,6.0,2.0,6.0,14,0,0.0,0.0,0.0,0,16,6.0,2.0,6.0,14
Bahrain (BRN),9,2.0,1.0,0.0,3,0,0.0,0.0,0.0,0,9,2.0,1.0,0.0,3
Barbados (BAR) [BAR],12,0.0,0.0,1.0,1,0,0.0,0.0,0.0,0,12,0.0,0.0,1.0,1
Belarus (BLR),6,12.0,27.0,39.0,78,7,8.0,5.0,5.0,18,13,20.0,32.0,44.0,96
Belgium (BEL),26,40.0,53.0,55.0,148,21,1.0,2.0,3.0,6,47,41.0,55.0,58.0,154
Bermuda (BER),18,0.0,0.0,1.0,1,8,0.0,0.0,0.0,0,26,0.0,0.0,1.0,1
Bohemia (BOH) [BOH] [Z],3,0.0,1.0,3.0,4,0,0.0,0.0,0.0,0,3,0.0,1.0,3.0,4
Botswana (BOT),10,0.0,1.0,0.0,1,0,0.0,0.0,0.0,0,10,0.0,1.0,0.0,1
Brazil (BRA),22,30.0,36.0,63.0,129,8,0.0,0.0,0.0,0,30,30.0,36.0,63.0,129
British West Indies (BWI) [BWI],1,0.0,0.0,2.0,2,0,0.0,0.0,0.0,0,1,0.0,0.0,2.0,2
Bulgaria (BUL) [H],20,51.0,87.0,80.0,218,20,1.0,2.0,3.0,6,40,52.0,89.0,83.0,224
Burundi (BDI),6,1.0,1.0,0.0,2,0,0.0,0.0,0.0,0,6,1.0,1.0,0.0,2
Cameroon (CMR),14,3.0,1.0,2.0,6,1,0.0,0.0,0.0,0,15,3.0,1.0,2.0,6
Canada (CAN),26,64.0,102.0,136.0,302,23,73.0,64.0,62.0,199,49,137.0,166.0,198.0,501
Chile (CHI) [I],23,2.0,7.0,4.0,13,17,0.0,0.0,0.0,0,40,2.0,7.0,4.0,13
China (CHN) [CHN],10,224.0,167.0,155.0,546,11,13.0,28.0,21.0,62,21,237.0,195.0,176.0,608
Colombia (COL),19,5.0,9.0,14.0,28,2,0.0,0.0,0.0,0,21,5.0,9.0,14.0,28
Costa Rica (CRC),15,1.0,1.0,2.0,4,6,0.0,0.0,0.0,0,21,1.0,1.0,2.0,4
Ivory Coast (CIV) [CIV],13,1.0,1.0,1.0,3,0,0.0,0.0,0.0,0,13,1.0,1.0,1.0,3
Croatia (CRO),7,11.0,10.0,12.0,33,8,4.0,6.0,1.0,11,15,15.0,16.0,13.0,44
Cuba (CUB) [Z],20,78.0,68.0,80.0,226,0,0.0,0.0,0.0,0,20,78.0,68.0,80.0,226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sweden (SWE) [Z],27,145.0,170.0,179.0,494,23,57.0,46.0,55.0,158,50,202.0,216.0,234.0,652
Switzerland (SUI),28,50.0,75.0,67.0,192,23,56.0,45.0,52.0,153,51,106.0,120.0,119.0,345
Syria (SYR),13,1.0,1.0,1.0,3,0,0.0,0.0,0.0,0,13,1.0,1.0,1.0,3
Chinese Taipei (TPE) [TPE] [TPE2],14,5.0,7.0,12.0,24,12,0.0,0.0,0.0,0,26,5.0,7.0,12.0,24
Tajikistan (TJK),6,1.0,1.0,2.0,4,4,0.0,0.0,0.0,0,10,1.0,1.0,2.0,4
Tanzania (TAN) [TAN],13,0.0,2.0,0.0,2,0,0.0,0.0,0.0,0,13,0.0,2.0,0.0,2
Thailand (THA),16,9.0,8.0,16.0,33,4,0.0,0.0,0.0,0,20,9.0,8.0,16.0,33
Togo (TOG),10,0.0,0.0,1.0,1,2,0.0,0.0,0.0,0,12,0.0,0.0,1.0,1
Tonga (TGA),9,0.0,1.0,0.0,1,2,0.0,0.0,0.0,0,11,0.0,1.0,0.0,1
Trinidad and Tobago (TTO) [TTO],17,3.0,5.0,11.0,19,3,0.0,0.0,0.0,0,20,3.0,5.0,11.0,19
Tunisia (TUN),14,4.0,2.0,7.0,13,0,0.0,0.0,0.0,0,14,4.0,2.0,7.0,13
Turkey (TUR),22,39.0,24.0,28.0,91,17,0.0,0.0,0.0,0,39,39.0,24.0,28.0,91
Uganda (UGA),15,2.0,3.0,2.0,7,0,0.0,0.0,0.0,0,15,2.0,3.0,2.0,7
Ukraine (UKR),6,35.0,30.0,56.0,121,7,3.0,1.0,4.0,8,13,38.0,31.0,60.0,129
United Arab Emirates (UAE),9,1.0,0.0,1.0,2,0,0.0,0.0,0.0,0,9,1.0,0.0,1.0,2
United States (USA) [P] [Q] [R] [Z],27,1022.0,795.0,705.0,2522,23,105.0,112.0,88.0,305,50,1127.0,907.0,793.0,2827
Uruguay (URU),21,2.0,2.0,6.0,10,1,0.0,0.0,0.0,0,22,2.0,2.0,6.0,10
Uzbekistan (UZB),6,8.0,6.0,17.0,31,7,1.0,0.0,0.0,1,13,9.0,6.0,17.0,32
Venezuela (VEN),18,2.0,4.0,9.0,15,4,0.0,0.0,0.0,0,22,2.0,4.0,9.0,15
Vietnam (VIE),15,1.0,3.0,0.0,4,0,0.0,0.0,0.0,0,15,1.0,3.0,0.0,4
Virgin Islands (ISV),12,0.0,1.0,0.0,1,7,0.0,0.0,0.0,0,19,0.0,1.0,0.0,1
Yugoslavia (YUG) [YUG],18,28.0,31.0,31.0,90,16,0.0,3.0,1.0,4,34,28.0,34.0,32.0,94
Zambia (ZAM) [ZAM],13,0.0,1.0,1.0,2,0,0.0,0.0,0.0,0,13,0.0,1.0,1.0,2
Zimbabwe (ZIM) [ZIM],13,3.0,4.0,1.0,8,1,0.0,0.0,0.0,0,14,3.0,4.0,1.0,8
Unified Team (EUN) [EUN],1,45.0,38.0,29.0,112,1,9.0,6.0,8.0,23,2,54.0,44.0,37.0,135
Independent Olympic Athletes (IOA) [IOA],3,1.0,0.0,1.0,2,0,0.0,0.0,0.0,0,3,1.0,0.0,1.0,2
Independent Olympic Participants (IOP) [IOP],1,0.0,1.0,2.0,3,0,0.0,0.0,0.0,0,1,0.0,1.0,2.0,3
Olympic Athletes from Russia (OAR) [OAR],0,0.0,0.0,0.0,0,1,2.0,6.0,9.0,17,1,2.0,6.0,9.0,17
Mixed team (ZZX) [ZZX],3,8.0,5.0,4.0,17,0,0.0,0.0,0.0,0,3,8.0,5.0,4.0,17
Totals,28,5115.0,5081.0,5487.0,15683,23,1062.0,1058.0,1050.0,3170,51,6177.0,6139.0,6537.0,18853

In [13]:
data = df[1]   # df 는 DataFrame의 약자
type(data)

pandas.core.frame.DataFrame

In [14]:
data.head()
# 컬럼 : Summer Games, Summer Games.1, Summer Games.2, ... 컬럼명 유일해야 함.
# 인덱스 : Team (IOC code), Afghanistan (AFG), Algeria (ALG)... 인덱스가 유일해야 함. 
# 값(밸류:value) : 14, 0.0, 0.0, 2.0 .....

,Summer Games,Summer Games.1,Summer Games.2,Summer Games.3,Summer Games.4,Winter Games,Winter Games.1,Winter Games.2,Winter Games.3,Winter Games.4,Combined Total,Combined Total.1,Combined Total.2,Combined Total.3,Combined Total.4
Team (IOC code),№,NaN,NaN,NaN,Total,№,NaN,NaN,NaN,Total,№,NaN,NaN,NaN,Total
Afghanistan (AFG),14,0.0,0.0,2.0,2,0,0.0,0.0,0.0,0,14,0.0,0.0,2.0,2
Algeria (ALG),13,5.0,4.0,8.0,17,3,0.0,0.0,0.0,0,16,5.0,4.0,8.0,17
Argentina (ARG),24,21.0,25.0,28.0,74,19,0.0,0.0,0.0,0,43,21.0,25.0,28.0,74
Armenia (ARM),6,2.0,6.0,6.0,14,7,0.0,0.0,0.0,0,13,2.0,6.0,6.0,14

In [15]:
data.columns # 컬럼 이름들

Index(['Summer Games', 'Summer Games.1', 'Summer Games.2', 'Summer Games.3',
       'Summer Games.4', 'Winter Games', 'Winter Games.1', 'Winter Games.2',
       'Winter Games.3', 'Winter Games.4', 'Combined Total',
       'Combined Total.1', 'Combined Total.2', 'Combined Total.3',
       'Combined Total.4'],
      dtype='object')

In [16]:
data.index  # 가장 좌측의 데이터

Index(['Team (IOC code)', 'Afghanistan (AFG)', 'Algeria (ALG)',
       'Argentina (ARG)', 'Armenia (ARM)', 'Australasia (ANZ) [ANZ]',
       'Australia (AUS) [AUS] [Z]', 'Austria (AUT)', 'Azerbaijan (AZE)',
       'Bahamas (BAH)',
       ...
       'Virgin Islands (ISV)', 'Yugoslavia (YUG) [YUG]', 'Zambia (ZAM) [ZAM]',
       'Zimbabwe (ZIM) [ZIM]', 'Unified Team (EUN) [EUN]',
       'Independent Olympic Athletes (IOA) [IOA]',
       'Independent Olympic Participants (IOP) [IOP]',
       'Olympic Athletes from Russia (OAR) [OAR]', 'Mixed team (ZZX) [ZZX]',
       'Totals'],
      dtype='object', length=154)

In [17]:
data.values # 데이터의 값들

array([['№', nan, nan, ..., nan, nan, 'Total'],
       ['14', 0.0, 0.0, ..., 0.0, 2.0, '2'],
       ['13', 5.0, 4.0, ..., 4.0, 8.0, '17'],
       ...,
       ['0', 0.0, 0.0, ..., 6.0, 9.0, '17'],
       ['3', 8.0, 5.0, ..., 5.0, 4.0, '17'],
       ['28', 5115.0, 5081.0, ..., 6139.0, 6537.0, '18853']], dtype=object)

In [18]:
data.shape

(154, 15)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 154 entries, Team (IOC code) to Totals
Data columns (total 15 columns):
Summer Games        154 non-null object
Summer Games.1      153 non-null float64
Summer Games.2      153 non-null float64
Summer Games.3      153 non-null float64
Summer Games.4      154 non-null object
Winter Games        154 non-null object
Winter Games.1      153 non-null float64
Winter Games.2      153 non-null float64
Winter Games.3      153 non-null float64
Winter Games.4      154 non-null object
Combined Total      154 non-null object
Combined Total.1    153 non-null float64
Combined Total.2    153 non-null float64
Combined Total.3    153 non-null float64
Combined Total.4    154 non-null object
dtypes: float64(9), object(6)
memory usage: 19.2+ KB

In [20]:
data.describe()  # 기술하다. 통계치를 구하기(수치 데이터 컬럼만)

,Summer Games.1,Summer Games.2,Summer Games.3,Winter Games.1,Winter Games.2,Winter Games.3,Combined Total.1,Combined Total.2,Combined Total.3
count,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000
mean,66.862745,66.418301,71.725490,13.882353,13.830065,13.725490,80.745098,80.248366,85.450980
std,422.599849,416.404023,447.853436,87.722270,87.279179,86.350893,508.851901,502.521776,533.219133
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,3.000000,4.000000,6.000000,0.000000,0.000000,0.000000,3.000000,4.000000,6.000000
75%,26.000000,30.000000,31.000000,1.000000,2.000000,1.000000,28.000000,31.000000,34.000000
max,5115.000000,5081.000000,5487.000000,1062.000000,1058.000000,1050.000000,6177.000000,6139.000000,6537.000000

In [23]:
data.describe().shape

(8, 9)

In [24]:
data.head(3)

,Summer Games,Summer Games.1,Summer Games.2,Summer Games.3,Summer Games.4,Winter Games,Winter Games.1,Winter Games.2,Winter Games.3,Winter Games.4,Combined Total,Combined Total.1,Combined Total.2,Combined Total.3,Combined Total.4
Team (IOC code),№,NaN,NaN,NaN,Total,№,NaN,NaN,NaN,Total,№,NaN,NaN,NaN,Total
Afghanistan (AFG),14,0.0,0.0,2.0,2,0,0.0,0.0,0.0,0,14,0.0,0.0,2.0,2
Algeria (ALG),13,5.0,4.0,8.0,17,3,0.0,0.0,0.0,0,16,5.0,4.0,8.0,17

In [25]:
data.tail(3)

,Summer Games,Summer Games.1,Summer Games.2,Summer Games.3,Summer Games.4,Winter Games,Winter Games.1,Winter Games.2,Winter Games.3,Winter Games.4,Combined Total,Combined Total.1,Combined Total.2,Combined Total.3,Combined Total.4
Olympic Athletes from Russia (OAR) [OAR],0,0.0,0.0,0.0,0,1,2.0,6.0,9.0,17,1,2.0,6.0,9.0,17
Mixed team (ZZX) [ZZX],3,8.0,5.0,4.0,17,0,0.0,0.0,0.0,0,3,8.0,5.0,4.0,17
Totals,28,5115.0,5081.0,5487.0,15683,23,1062.0,1058.0,1050.0,3170,51,6177.0,6139.0,6537.0,18853

In [26]:
data.sample(5) # 아무거나 xx건 보여줘

,Summer Games,Summer Games.1,Summer Games.2,Summer Games.3,Summer Games.4,Winter Games,Winter Games.1,Winter Games.2,Winter Games.3,Winter Games.4,Combined Total,Combined Total.1,Combined Total.2,Combined Total.3,Combined Total.4
Paraguay (PAR),12,0.0,1.0,0.0,1,1,0.0,0.0,0.0,0,13,0.0,1.0,0.0,1
Puerto Rico (PUR),18,1.0,2.0,6.0,9,7,0.0,0.0,0.0,0,25,1.0,2.0,6.0,9
Bermuda (BER),18,0.0,0.0,1.0,1,8,0.0,0.0,0.0,0,26,0.0,0.0,1.0,1
Sri Lanka (SRI) [SRI],17,0.0,2.0,0.0,2,0,0.0,0.0,0.0,0,17,0.0,2.0,0.0,2
Belarus (BLR),6,12.0,27.0,39.0,78,7,8.0,5.0,5.0,18,13,20.0,32.0,44.0,96

In [31]:
d = {'a':1, 'b':[1,2,3], 'c':100}
d['b']

[1, 2, 3]

In [33]:
# pandas의 dataframe 구조가 dictionary 구조로 되어 있음.
data[['Summer Games.1', 'Summer Games.2']].head() # 몇개의 컬럼만 뽑기

                   Summer Games.1  Summer Games.2
Team (IOC code)               NaN             NaN
Afghanistan (AFG)             0.0             0.0
Algeria (ALG)                 5.0             4.0
Argentina (ARG)              21.0            25.0
Armenia (ARM)                 2.0             6.0

In [41]:
# data[0]에 해당, i(index)loc(location)   # 행은 선택이 되는데 컬럼 선택이 안됨1
data.iloc[0:5, :2]

                  Summer Games  Summer Games.1
Team (IOC code)              №             NaN
Afghanistan (AFG)           14             0.0
Algeria (ALG)               13             5.0
Argentina (ARG)             24            21.0
Armenia (ARM)                6             2.0

In [40]:
data.dtypes # data.info()로 타입 검사
# 수치형이어야 하는데 object로 잡혔다면 누락이나 오타가 있는 것 -> 조치 필요

Summer Games         object
Summer Games.1      float64
Summer Games.2      float64
Summer Games.3      float64
Summer Games.4       object
Winter Games         object
Winter Games.1      float64
Winter Games.2      float64
Winter Games.3      float64
Winter Games.4       object
Combined Total       object
Combined Total.1    float64
Combined Total.2    float64
Combined Total.3    float64
Combined Total.4     object
dtype: object

In [43]:
# 정렬
data.sort_values('Summer Games', ascending=False).head()

,Summer Games,Summer Games.1,Summer Games.2,Summer Games.3,Summer Games.4,Winter Games,Winter Games.1,Winter Games.2,Winter Games.3,Winter Games.4,Combined Total,Combined Total.1,Combined Total.2,Combined Total.3,Combined Total.4
Team (IOC code),№,NaN,NaN,NaN,Total,№,NaN,NaN,NaN,Total,№,NaN,NaN,NaN,Total
Lithuania (LTU),9,6.0,6.0,13.0,25,9,0.0,0.0,0.0,0,18,6.0,6.0,13.0,25
Samoa (SAM),9,0.0,1.0,0.0,1,0,0.0,0.0,0.0,0,9,0.0,1.0,0.0,1
Qatar (QAT),9,0.0,1.0,4.0,5,0,0.0,0.0,0.0,0,9,0.0,1.0,4.0,5
Mauritius (MRI),9,0.0,0.0,1.0,1,0,0.0,0.0,0.0,0,9,0.0,0.0,1.0,1

In [45]:
# 256~ 여름 올림픽 데이터를 엑셀로 저장하기
data.head()
summer = data.iloc[1:, :5] # 첫번째 행을 제외함. (Team (IOC code))
summer.head(5)

,Summer Games,Summer Games.1,Summer Games.2,Summer Games.3,Summer Games.4
Afghanistan (AFG),14,0.0,0.0,2.0,2
Algeria (ALG),13,5.0,4.0,8.0,17
Argentina (ARG),24,21.0,25.0,28.0,74
Armenia (ARM),6,2.0,6.0,6.0,14
Australasia (ANZ) [ANZ],2,3.0,4.0,5.0,12

In [46]:
summer.columns

Index(['Summer Games', 'Summer Games.1', 'Summer Games.2', 'Summer Games.3',
       'Summer Games.4'],
      dtype='object')

In [47]:
summer.columns = ['경기수', '금', '은', '동', '계']

In [48]:
summer.head(3)

                  경기수     금     은     동   계
Afghanistan (AFG)  14   0.0   0.0   2.0   2
Algeria (ALG)      13   5.0   4.0   8.0  17
Argentina (ARG)    24  21.0  25.0  28.0  74

In [55]:
summer_sort = summer.sort_values('금', ascending=False)

In [56]:
summer_sort.to_excel('올림픽하계금메달.xlsx')