KNN 으로 붓꽃 분류하기
- UCI 데이터셋 다운로드(http://archive.ics.uci.edu/ml/datasets/Iris)
- pandas로 읽기
- 입력(X:꽃잎과 꽃받침의 길이-너비)과 출력(Y:품종) 분리
- 150 개의 인스턴스(샘플), 학습용(75%), 테스트용(25%) 분리
- K(k:3~5개 정보)NN 모델을 선정
- 목표 : 테스트 샘플의 분류 정확도를 높이기

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('iris.data', header=None)
df.shape

(150, 5)

In [8]:
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [10]:
df.info() # 컬럼의 타입 확인 : 숫자로 변환해야 될지를 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
0    150 non-null float64
1    150 non-null float64
2    150 non-null float64
3    150 non-null float64
4    150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

150 개의 인스턴스(샘플), 학습용(75%), 테스트용(25%) 분리

In [12]:
X = df.iloc[:, :4]
y = df.iloc[:,-1]
X.shape, y.shape # X는 2차원, y는 1차원, 나중에 문제되면 이부분 확인필요!!!!

((150, 4), (150,))

In [11]:
from sklearn.model_selection import train_test_split  # 함수를 import

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
X_train.shape, X_test.shape

((112, 4), (38, 4))

In [16]:
from sklearn.neighbors import KNeighborsClassifier

In [17]:
knn = KNeighborsClassifier(5)
knn.fit(X_train, y_train)  # 핏팅시키기

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [18]:
knn.predict(X_test)  # 예측하기

array(['Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa'], dtype=object)

In [19]:
knn.score(X_train, y_train), knn.score(X_test, y_test)

(0.9642857142857143, 1.0)

코스피200  일거래 데이터, 종가 예측하기
- 샘플 : 하루의 총 일거래 정보

In [34]:
#url = 'http://finance.daum.net/domestic/kospi200'
url = 'file:///C:/Users/wtime/Downloads/머신런닝/코스피200%20_%20다음%20금융.html'
tables = pd.read_html(url, encoding='cp949', index_col=0) # 1번째 컬럼이 index다.
len(tables)

3

In [35]:
for table in tables :
    print(table.shape)

(10, 6)
(10, 8)
(10, 7)

In [36]:
df = tables[1]

In [37]:
df.head()

              종가    전일비     등락률    거래량     거래대금  개인(억)  외국인(억)  기관(억)
일자
19.07.02  276.87  ▼0.40  -0.14%  22592   826628    318      84   -382
19.07.01  277.27  ▼0.23  -0.08%  74357  3446049   -214    1286    365
19.06.28  277.50  ▼0.25  -0.09%  67598  2879563  -1802    3011  -1189
19.06.27  277.75  ▲2.22  +0.81%  66303  3357666  -4165    1837   2415
19.06.26  275.53  ▲0.25  +0.09%  58818  2636531   -712     157    557

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 19.07.02 to 19.06.19
Data columns (total 8 columns):
종가        10 non-null float64
전일비       10 non-null object
등락률       10 non-null object
거래량       10 non-null int64
거래대금      10 non-null int64
개인(억)     10 non-null int64
외국인(억)    10 non-null int64
기관(억)     10 non-null int64
dtypes: float64(1), int64(5), object(2)
memory usage: 720.0+ bytes

In [43]:
# 전일비와 등락률을 수치데이터(실수 : float)로 변환
# 전일비에 특수문자 : ▼, ▲ 존재 -> 삭제 필요
# 등락률에 특수문자 : % 존재 -> 삭제 필요
df['전일비']= df['전일비'].replace('▼', '',regex=True)
df['전일비']= df['전일비'].replace('▲', '',regex=True)
df['등락률']= df['등락률'].replace('%', '',regex=True)

In [44]:
df['전일비'] = df['전일비'].astype(np.float)
df['등락률'] = df['등락률'].astype(np.float)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 19.07.02 to 19.06.19
Data columns (total 8 columns):
종가        10 non-null float64
전일비       10 non-null float64
등락률       10 non-null float64
거래량       10 non-null int64
거래대금      10 non-null int64
개인(억)     10 non-null int64
외국인(억)    10 non-null int64
기관(억)     10 non-null int64
dtypes: float64(3), int64(5)
memory usage: 720.0+ bytes

In [46]:
df.head()

              종가   전일비   등락률    거래량     거래대금  개인(억)  외국인(억)  기관(억)
일자
19.07.02  276.87  0.40 -0.14  22592   826628    318      84   -382
19.07.01  277.27  0.23 -0.08  74357  3446049   -214    1286    365
19.06.28  277.50  0.25 -0.09  67598  2879563  -1802    3011  -1189
19.06.27  277.75  2.22  0.81  66303  3357666  -4165    1837   2415
19.06.26  275.53  0.25  0.09  58818  2636531   -712     157    557

In [48]:
# 입력 X와 출력 Y 분리
# x 데이타는 샘플 하나하나의 데이터를 의미하고, X는 샘플데이터의 모음
X = df.iloc[:, 1:]
y = df['종가']
X.shape, y.shape # X는 2차원, y는 1차원, 나중에 문제되면 이부분 확인필요!!!!

((10, 7), (10,))

In [63]:
offset = 8      # Magic Number : 상수, 데이터를 분리하는 위치값  => 상수 Magic Number를 가능하면 사용하지 않는게 좋다.
X_train = X[-offset:]  
X_test = X[:-offset]
y_train = y[-offset:]
y_test = y[:-offset]

In [64]:
from sklearn.neighbors import KNeighborsRegressor   # Regressor 실수 예측용

In [65]:
knn = KNeighborsRegressor(n_neighbors=1)   # 클래스의 instance 생성 문법

In [66]:
knn.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=1, p=2,
          weights='uniform')

In [67]:
knn.predict(X_test), knn.predict(X_train)

(array([275.58, 277.75]),
 array([277.5 , 277.75, 275.53, 275.28, 275.58, 275.48, 276.01, 275.31]))

In [69]:
# P71 결정 계수 : R^2
knn.score(X_train, y_train) # trainset에 k = 1이므로 당현히 100% skdha.

1.0

In [71]:
# .score()의 return 2종류 :  classification은 정확도, regression은 결정계수
knn.score(X_test, y_test)  # 이 모델은 신뢰할 수 없다. (0에 가까운 결과값이 나와야 하는데....)

-22.68125000000357

KNN의 장단점
- 장점 : 이해하기 매우 쉬운 모델, k를 많이 조정하지 않아도 좋은 성능, 좋은 시작점(비기너에게 좋은 예제,예시)
- 단점 : 훈련세트가 매우 크면 예측이 느려짐, 전처리가 중요하다(정규화 필요), 특성(컬럼)이 많으면 동작이 잘 안됨, 특성값이 대부분이 0이면(희소한, sparse) 잘 안됨.
- 이런 단점을 해결한 모델이 선형모델(linear model) => 머신런닝의 정석임.

- fit : W와 B를 오차가 작아지도록 조절을 한다.
- 조절을 해도 오차가 줄어들지 않는 단계 : 수렴했다. <> 발산했다.

- 1차원(vector) 데이터를 점(scalar)으로 분리
- 2차원(matrix) 데이터를 선(line)으로 분리
- 3차원(tensor,cube) 데이터를 면(plane)으로 분리
- 4차원(tensor) 데이터를 공간으로 분리

- 면 이상의 차원은 초평면(hyperplane)