# 시험문제

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import export_graphviz
import graphviz
import os
os.environ["PATH"] += os.pathsep + 'C:/program Files (x86)/Graphviz2.38/bin/'

In [2]:
df = pd.read_csv('wine/wine.data',header=None, )
df.shape

(178, 14)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [4]:
df.columns = ['Type','Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium', 'Total phenols', 'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins', 'Color intensity', 'Hue', 'OD280/OD315 of diluted wines', 'Proline']

In [52]:
df.head()

,Type,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [51]:
df.dtypes

Type                              int64
Alcohol                         float64
Malic acid                      float64
Ash                             float64
Alcalinity of ash               float64
Magnesium                         int64
Total phenols                   float64
Flavanoids                      float64
Nonflavanoid phenols            float64
Proanthocyanins                 float64
Color intensity                 float64
Hue                             float64
OD280/OD315 of diluted wines    float64
Proline                           int64
dtype: object

In [64]:
X = df.iloc[:, 1:]
y = df.iloc[:,0]
#y = df['Type']
X.shape, y.shape # X는 2차원, y는 1차원, 나중에 문제되면 이부분 확인필요!!!!

((178, 13), (178,))

In [65]:
from sklearn.model_selection import train_test_split  # 함수를 import

In [72]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
X_train.shape, X_test.shape

((133, 13), (45, 13))

In [73]:
# KNN
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(5)
knn.fit(X_train, y_train)  # 핏팅시키기
knn.score(X_train, y_train), knn.score(X_test, y_test)

(0.7669172932330827, 0.7111111111111111)

In [74]:
from sklearn.neural_network import MLPClassifier, MLPRegressor
mlp = MLPClassifier().fit(X_train,y_train)
mlp.score(X_train,y_train), mlp.score(X_test,y_test)  # 과소적합 : under fitting : 성능이 안나온다.

(0.6165413533834586, 0.5777777777777777)

In [76]:
mlp = MLPClassifier(hidden_layer_sizes=(100,50,20)).fit(X_train,y_train)
mlp.score(X_train,y_train), mlp.score(X_test,y_test)

C:\Users\wtime\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:562: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

(0.8421052631578947, 0.7777777777777778)

In [77]:
# p139
from sklearn.svm import SVC, SVR # SCM-C분류용, SVM-R회귀용
import mglearn
sv = SVC(gamma='auto').fit(X_train,y_train)
sv.score(X_train,y_train), sv.score(X_test,y_test)

(1.0, 0.4222222222222222)

In [78]:
# p132
from sklearn.ensemble import AdaBoostClassifier
adc = AdaBoostClassifier(random_state=0).fit(X_train,y_train)
adc.score(X_train,y_train), adc.score(X_test,y_test)

(0.9699248120300752, 0.9111111111111111)

In [79]:
#p 122
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier(random_state=0).fit(X_train, y_train)
gbc.score(X_train,y_train), gbc.score(X_test,y_test) # 과적합

(1.0, 0.9555555555555556)

In [80]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(max_depth=4).fit(X_train,y_train)
dt.score(X_train,y_train), dt.score(X_test, y_test)

(1.0, 0.9333333333333333)

In [81]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=10).fit(X_train, y_train)  # 부트스트랩 : 데이터가 중복으로 뽑힘
# 성능 좋고, overfitting이 안됨. 단점은 tree모델이라 컬럼이 많으면 잘 안됨. 0이 많으면 잘안됨.
# n_estimators 을 최대한 많이 할 수록 좋음
rf.score(X_train,y_train), rf.score(X_test, y_test)   # n_estimators=10 => 0.965034965034965   , n_estimators=100 => 실행할 때마다 변경됨.

(1.0, 0.9777777777777777)